<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %> 
<%- include('./partials/nav.ejs')  %> 
<body>
    <table class="table table-striped table-hover">
        <thead>
          <tr style="background-color: #cf6034;  color: wheat;">
            <th scope="col">#</th>
            <th scope="col">Plantation 2020_21</th>
            <th scope="col">Forest Division</th>
            <th scope="col">Overlap Area(Ac)</th>
            <th scope="col">Plantation 2019_20</th>
            <th scope="col">Forest Division</th>
          </tr>
        </thead>
        <tbody class='trow'>
          <% var count = 0 %>
          <% data.forEach((data)=>{%>
            <tr id=<%=data.uid %>>
                <% count = count +1%>
                <th scope="row"><%=count  %> </th>
                <td><%=data.plantation_2020_21 %></td>
                <td><%=data.div_2021 %></td>
                <td><%=data.overlap_area %></td>
                <td id = 'sitesum'><%=data.plantation_2019_20 %></td>
                <td><%=data.div_2019 %></td>
            </tr>
          <%})%> 


        </tbody>
      </table>
    
</body>

<script>
    console.log('2020_21 Overlaps page');
    $('tr').on('click',(e)=>{
        var endpoint = '/overlap/'+e.currentTarget.id
        console.log(endpoint);
              
        fetch(endpoint,{
            method: 'POST',
        })
        .then((response) =>{
            // console.log('aaa',response.json());
            return response.json()
        })
        .then((data) => {
            console.log('data',data)
            window.location.href = '/'
            e.preventDefault()
        })
        .catch((e) => {console.log('err');
        // window.location.href = '/'
        
        })

        console.log('axxx');

    })

</script>

</html>